<h2>
<p>
Here is your string after running the best find and replace application!
</p>
</h2>

<h3>
<p>Your original string was:</p> <%= @input %> <br>
</h3>

<h4>
  <p>
  The word you wanted to find was: <%= @find %><br>
  The word you wanted to replace with was: <%= @replace %>
  </p>
</h4>

<h3>
<p>Your new string after finding and replacing is:</p> <%= @result %><br>
</h3>
